		.bdstyle {
			background-color: black !important;
			font-family: Arial, sans-serif;
		}
        .bo {
            text-align: center;
        }
		#Box_Office {
			left: 10%;
			text-align: center;
		}
		#Description {
			text-align: center;
			display : flex;
		}
		#test1 {
			width : 35%;
		}
		#test2{
			color: white;
			text-align:left;
		}
		
		h1 {
			color: grey;
		}
        .nav-link,
        .text-muted {
            color: #95a5a6 !important; /* Mint color */
        }
		
        .nav-link:hover {
            color: #68c1a6 !important; /* Darker mint color when hovering */
        }
        .mv{
        	text-align: center;
        }